<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyi.zimushipinzhizuo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/phone_log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/phone_log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.mine.HtmlActivity"></activity>
        <activity android:name=".ui.activity.mine.HelpActivity" />
        <activity android:name=".ui.activity.mine.About_US_Activity" />
        <activity android:name=".ui.activity.home.AddProjectActivity" />
        <activity android:name=".ui.activity.mine.HelpAndFeedBackActivity" />
        <activity android:name=".ui.activity.mine.MineActivity" />
        <activity android:name=".ui.activity.logout.LogoutActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.home.HomeActivity" />
        <activity android:name=".ui.activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>